In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import datetime
import matplotlib.dates as mdates

In [57]:
filepath = "/Users/kassiewang/GitHub/cds/Kassie/422coronaclean.csv"
rawcorona = pd.read_csv(filepath, error_bad_lines=False)

cleancorona = rawcorona[rawcorona['Country.Region'].str.contains('US', case = True, regex = True)]
cleancorona.drop('Country.Region', 1, inplace = True)
cleancorona['ObservationDate'] = pd.to_datetime(cleancorona['ObservationDate'])
cleancorona.rename(columns = {'ObservationDate':'date'}, inplace = True)

b'Skipping line 3: expected 5 fields, saw 6\nSkipping line 625: expected 5 fields, saw 6\nSkipping line 626: expected 5 fields, saw 6\nSkipping line 627: expected 5 fields, saw 6\nSkipping line 2972: expected 5 fields, saw 6\nSkipping line 2973: expected 5 fields, saw 6\nSkipping line 2974: expected 5 fields, saw 6\nSkipping line 2975: expected 5 fields, saw 6\n'
/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
rawtweets = pd.read_csv("/Users/kassiewang/GitHub/cds/final_csv/us.csv")
rawtweets = rawtweets.drop(rawtweets.columns[[0]], axis = 1)
rawtweets['Date'] = rawtweets['Date'].str[:10]
rawtweets['Date'] = pd.to_datetime(rawtweets['Date'], errors='coerce')
rawtweets.rename(columns = {'Date': 'date'}, inplace = True)

tweetct = rawtweets.groupby(['date']).agg('count')
tweetct.rename(columns = {'Text':'tweetct'}, inplace = True)

In [59]:
finaldf = pd.merge(tweetct, cleancorona, how='inner', on = 'date')
finaldf

         date  tweetct  Confirmed  Deaths  Recovered
0  2020-02-19       30         15       0          3
1  2020-02-20       10         15       0          3
2  2020-02-21        5         35       0          5
3  2020-02-22       30         35       0          5
4  2020-02-23       10         35       0          5
..        ...      ...        ...     ...        ...
58 2020-04-17      327     699706   36773      58545
59 2020-04-18      260     732197   38664      64840
60 2020-04-19      258     759086   40661      70337
61 2020-04-20      332     784326   42094      72329
62 2020-04-21      542     823786   44845      75204

[63 rows x 5 columns]