In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import datetime
import matplotlib.dates as mdates

In [22]:
folder_path = '/Users/kassiewang/Downloads/csv/hashtags/'
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

dfs = []

for name in all_files:
    df = pd.read_csv(name)
    df['country'] = str(name[name.rfind('/')+1:-4])
    dfs.append(df)

hashtags = pd.concat(dfs)

In [23]:
#Getting list of hum terms
f = open('/Users/kassiewang/GitHub/cds/Kassie/hum_vocab.txt', 'r')
lines = f.readlines()
allterms = ''
for i in range(len(lines)):
    line = lines[i].strip()
    if i != 0:
        allterms = allterms + '|' + line
    else:
        allterms = line

feature = hashtags['text'].str.contains(allterms, case = False, na = False, regex = True)

/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [24]:
hashtags['contain_hum'] = feature
hashtags['contain_hum'] = hashtags['contain_hum'].astype(int)
hashtags['date'] = hashtags['date'].str[:10]
hashtags['date'] = pd.to_datetime(hashtags['date'], errors='coerce')

In [25]:
hashtags['country']= hashtags['country'].replace('uk', "UK")
hashtags['country']= hashtags['country'].replace('italy', "Italy")
hashtags['country']= hashtags['country'].replace('eastern_us', "US")
hashtags['country']= hashtags['country'].replace('germany', "Germany")
hashtags['country']= hashtags['country'].replace('france', "France")
hashtags['country']= hashtags['country'].replace('spain', "Spain")
hashtags['country']= hashtags['country'].replace('switzerland', "Switzerland")
hashtags['country']= hashtags['country'].replace('south_korea', "South Korea")
hashtags['country']= hashtags['country'].replace('iran', "Iran")
hashtags['country']= hashtags['country'].replace('western_us', "US")

In [26]:
filepath = "/Users/kassiewang/Github/cds/Kassie/coronatweet_features.csv"
rawcorona = pd.read_csv(filepath, error_bad_lines=False)
rawcorona['date'] = pd.to_datetime(rawcorona['date'])

In [52]:
bydatetweets = hashtags.groupby(['date'],as_index=False).agg({'contain_hum': 'sum'})
tweetcount = hashtags.groupby(['date']).size().to_frame('tweetct')
bydatetweets = pd.merge(bydatetweets, testing, how='inner', on = 'date')
bydatetweets

         date  contain_hum  tweetct
0  2020-01-30           31       77
1  2020-01-31           11       41
2  2020-02-01            3       10
3  2020-02-02            1        1
4  2020-02-03            1        3
5  2020-02-04            1        4
6  2020-02-05            2        7
7  2020-02-06            2        2
8  2020-02-07            2        5
9  2020-02-08            1        2
10 2020-02-09            0        1
11 2020-02-11            8       30
12 2020-02-12            8       16
13 2020-02-13            6       13
14 2020-02-14            3        6
15 2020-02-15            1        3
16 2020-02-16            0        1
17 2020-02-17            1        1
18 2020-02-18            2        3
19 2020-02-19            1        3
20 2020-02-20            3       10
21 2020-02-21            1        4
22 2020-02-22            2        9
23 2020-02-23            8       14
24 2020-02-24           11       20
25 2020-02-25            7       17
26 2020-02-26            4       11
27 2020-02-27            8       20
28 2020-02-28            9       18
29 2020-02-29            3       14
30 2020-03-01            8       17
31 2020-03-02            4       15
32 2020-03-03           14       33
33 2020-03-04           11       22
34 2020-03-05           13       27
35 2020-03-06           16       21
36 2020-03-07            8       16
37 2020-03-08            8       16
38 2020-03-09           16       36
39 2020-03-10           19       33
40 2020-03-11           19       37
41 2020-03-12           40       81
42 2020-03-13           74      141
43 2020-03-14           27       64
44 2020-03-15           29       55
45 2020-03-16           51      101
46 2020-03-17           69      124
47 2020-03-18          266      509
48 2020-03-19          837     2037
49 2020-03-20          492     1198
50 2020-03-21          361      885
51 2020-03-22          308      771
52 2020-03-23          459     1036
53 2020-03-24          675     1555

In [53]:
finaldf = pd.merge(bydatetweets, rawcorona, how='inner', on = 'date')
finaldf = finaldf.sort_values(by=['date'])
finaldf

,date,contain_hum,tweetct,contain_econ,Confirmed,Deaths,Recovered
0,2020-01-30,31,77,17,8142,171,135
1,2020-01-31,11,41,6,9814,213,214
2,2020-02-01,3,10,2,11910,259,275
3,2020-02-02,1,1,1,16651,361,463
4,2020-02-03,1,3,1,19742,425,614
5,2020-02-04,1,4,3,23730,490,843
6,2020-02-05,2,7,2,27463,562,1115
7,2020-02-06,2,2,1,30611,632,1476
8,2020-02-07,2,5,0,34137,717,1999
9,2020-02-08,1,2,1,36845,804,2596
10,2020-02-09,0,1,0,39860,904,3224
11,2020-02-11,8,30,2,44408,1111,4641
12,2020-02-12,8,16,6,44781,1116,5092
13,2020-02-13,6,13,6,59916,1368,6227
14,2020-02-14,3,6,1,66376,1520,7987
15,2020-02-15,1,3,1,68432,1663,9314
16,2020-02-16,0,1,1,70532,1766,10775
17,2020-02-17,1,1,0,72451,1864,12483
18,2020-02-18,2,3,1,74227,2003,14240
19,2020-02-19,1,3,2,74636,2117,15993
20,2020-02-20,3,10,3,75165,2240,18047
21,2020-02-21,1,4,2,75788,2244,18742
22,2020-02-22,2,9,3,77519,2451,22737
23,2020-02-23,8,14,6,77812,2461,23223
24,2020-02-24,11,20,8,78371,2621,25042
25,2020-02-25,7,17,6,79158,2700,27714
26,2020-02-26,4,11,4,80049,2760,30169
27,2020-02-27,8,20,10,81346,2802,33057
28,2020-02-28,9,18,9,82664,2858,36476
29,2020-02-29,3,14,6,84457,2926,39520
30,2020-03-01,8,17,6,86717,2978,42451
31,2020-03-02,4,15,8,88551,3067,45325
32,2020-03-03,14,33,21,90969,3141,47933
33,2020-03-04,11,22,8,93000,3232,50873
34,2020-03-05,13,27,12,95449,3326,53483
35,2020-03-06,16,21,8,98927,3436,55509
36,2020-03-07,8,16,7,102538,3533,57960
37,2020-03-08,8,16,5,105940,3769,60283
38,2020-03-09,16,36,18,109304,3950,62062
39,2020-03-10,19,33,9,113229,4219,63899
40,2020-03-11,19,37,8,118863,4552,66112
41,2020-03-12,40,81,34,120612,4649,67416
42,2020-03-13,74,141,59,134497,5307,69303
43,2020-03-14,27,64,26,143483,5696,71617
44,2020-03-15,29,55,18,152644,6296,74971
45,2020-03-16,51,101,48,164321,6961,76943
46,2020-03-17,69,124,51,176648,7694,79618
47,2020-03-18,266,509,195,191138,8451,81993
48,2020-03-19,837,2037,607,213578,9521,83542
49,2020-03-20,492,1198,396,237593,10844,85892
50,2020-03-21,361,885,280,263031,12375,89619
51,2020-03-22,308,771,220,286680,13863,95533
52,2020-03-23,459,1036,372,320556,15574,97969

In [54]:
finaldf.to_csv('/Users/kassiewang/Github/cds/Kassie/all_features.csv', index = False)