In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import datetime
import matplotlib.dates as mdates

In [2]:
folder_path = '/Users/kassiewang/Downloads/csv/hashtags/'
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

dfs = []

for name in all_files:
    df = pd.read_csv(name)
    df['country'] = str(name[name.rfind('/')+1:-4])
    dfs.append(df)

hashtags = pd.concat(dfs)

In [4]:
#Getting list of economic terms
f = open('/Users/kassiewang/GitHub/cds/Kassie/hum_vocab.txt', 'r')
lines = f.readlines()
allterms = ''
for i in range(len(lines)):
    line = lines[i].strip()
    if i != 0:
        allterms = allterms + '|' + line
    else:
        allterms = line

feature = hashtags['text'].str.contains(allterms, case = False, na = False, regex = True)

/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [8]:
hashtags['contain_hum'] = feature
hashtags['contain_hum'] = hashtags['contain_hum'].astype(int)
hashtags['date'] = hashtags['date'].str[:10]
hashtags['date'] = pd.to_datetime(hashtags['date'], errors='coerce')

In [10]:
hashtags['contain_hum'].sum()

3965

In [11]:
hashtags['country']= hashtags['country'].replace('uk', "UK")
hashtags['country']= hashtags['country'].replace('italy', "Italy")
hashtags['country']= hashtags['country'].replace('eastern_us', "US")
hashtags['country']= hashtags['country'].replace('germany', "Germany")
hashtags['country']= hashtags['country'].replace('france', "France")
hashtags['country']= hashtags['country'].replace('spain', "Spain")
hashtags['country']= hashtags['country'].replace('switzerland', "Switzerland")
hashtags['country']= hashtags['country'].replace('south_korea', "South Korea")
hashtags['country']= hashtags['country'].replace('iran', "Iran")
hashtags['country']= hashtags['country'].replace('western_us', "US")

In [14]:
filepath = "/Users/kassiewang/Github/cds/Kassie/coronatweet_features.csv"
rawcorona = pd.read_csv(filepath, error_bad_lines=False)
cleancorona['date'] = pd.to_datetime(cleancorona['dte'])
rawcorona

          date  contain_econ  Confirmed  Deaths  Recovered
0   2020-01-30            17       8142     171        135
1   2020-01-31             6       9814     213        214
2   2020-02-01             2      11910     259        275
3   2020-02-02             1      16651     361        463
4   2020-02-03             1      19742     425        614
5   2020-02-04             3      23730     490        843
6   2020-02-05             2      27463     562       1115
7   2020-02-06             1      30611     632       1476
8   2020-02-07             0      34137     717       1999
9   2020-02-08             1      36845     804       2596
10  2020-02-09             0      39860     904       3224
11  2020-02-11             2      44408    1111       4641
12  2020-02-12             6      44781    1116       5092
13  2020-02-13             6      59916    1368       6227
14  2020-02-14             1      66376    1520       7987
15  2020-02-15             1      68432    1663       9314
16  2020-02-16             1      70532    1766      10775
17  2020-02-17             0      72451    1864      12483
18  2020-02-18             1      74227    2003      14240
19  2020-02-19             2      74636    2117      15993
20  2020-02-20             3      75165    2240      18047
21  2020-02-21             2      75788    2244      18742
22  2020-02-22             3      77519    2451      22737
23  2020-02-23             6      77812    2461      23223
24  2020-02-24             8      78371    2621      25042
25  2020-02-25             6      79158    2700      27714
26  2020-02-26             4      80049    2760      30169
27  2020-02-27            10      81346    2802      33057
28  2020-02-28             9      82664    2858      36476
29  2020-02-29             6      84457    2926      39520
30  2020-03-01             6      86717    2978      42451
31  2020-03-02             8      88551    3067      45325
32  2020-03-03            21      90969    3141      47933
33  2020-03-04             8      93000    3232      50873
34  2020-03-05            12      95449    3326      53483
35  2020-03-06             8      98927    3436      55509
36  2020-03-07             7     102538    3533      57960
37  2020-03-08             5     105940    3769      60283
38  2020-03-09            18     109304    3950      62062
39  2020-03-10             9     113229    4219      63899
40  2020-03-11             8     118863    4552      66112
41  2020-03-12            34     120612    4649      67416
42  2020-03-13            59     134497    5307      69303
43  2020-03-14            26     143483    5696      71617
44  2020-03-15            18     152644    6296      74971
45  2020-03-16            48     164321    6961      76943
46  2020-03-17            51     176648    7694      79618
47  2020-03-18           195     191138    8451      81993
48  2020-03-19           607     213578    9521      83542
49  2020-03-20           396     237593   10844      85892
50  2020-03-21           280     263031   12375      89619
51  2020-03-22           220     286680   13863      95533
52  2020-03-23           372     320556   15574      97969

In [12]:
bydatetweets = hashtags.groupby(['date'],as_index=False).agg({'contain_hum': 'sum'})
bydatetweets

         date  contain_hum
0  2020-01-30           31
1  2020-01-31           11
2  2020-02-01            3
3  2020-02-02            1
4  2020-02-03            1
5  2020-02-04            1
6  2020-02-05            2
7  2020-02-06            2
8  2020-02-07            2
9  2020-02-08            1
10 2020-02-09            0
11 2020-02-11            8
12 2020-02-12            8
13 2020-02-13            6
14 2020-02-14            3
15 2020-02-15            1
16 2020-02-16            0
17 2020-02-17            1
18 2020-02-18            2
19 2020-02-19            1
20 2020-02-20            3
21 2020-02-21            1
22 2020-02-22            2
23 2020-02-23            8
24 2020-02-24           11
25 2020-02-25            7
26 2020-02-26            4
27 2020-02-27            8
28 2020-02-28            9
29 2020-02-29            3
30 2020-03-01            8
31 2020-03-02            4
32 2020-03-03           14
33 2020-03-04           11
34 2020-03-05           13
35 2020-03-06           16
36 2020-03-07            8
37 2020-03-08            8
38 2020-03-09           16
39 2020-03-10           19
40 2020-03-11           19
41 2020-03-12           40
42 2020-03-13           74
43 2020-03-14           27
44 2020-03-15           29
45 2020-03-16           51
46 2020-03-17           69
47 2020-03-18          266
48 2020-03-19          837
49 2020-03-20          492
50 2020-03-21          361
51 2020-03-22          308
52 2020-03-23          459
53 2020-03-24          675

In [15]:
finaldf = pd.merge(bydatetweets, rawcorona, how='inner', on = 'date')
finaldf = finaldf.sort_values(by=['date'])
finaldf

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [10]:
finaldf.to_csv('/Users/kassiewang/Github/cds/Kassie/coronatweet_features.csv', index = False)