In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import datetime
import matplotlib.dates as mdates

In [3]:
filepath = "/Users/kassiewang/GitHub/cds/Kassie/422coronaclean.csv"
rawcorona = pd.read_csv(filepath, error_bad_lines=False)

cleancorona = rawcorona[rawcorona['Country.Region'].str.contains('US', case = True, regex = True)]
cleancorona['ObservationDate'] = pd.to_datetime(cleancorona['ObservationDate'])
cleancorona.rename(columns = {'ObservationDate':'date'}, inplace = True)

b'Skipping line 3: expected 5 fields, saw 6\nSkipping line 625: expected 5 fields, saw 6\nSkipping line 626: expected 5 fields, saw 6\nSkipping line 627: expected 5 fields, saw 6\nSkipping line 2972: expected 5 fields, saw 6\nSkipping line 2973: expected 5 fields, saw 6\nSkipping line 2974: expected 5 fields, saw 6\nSkipping line 2975: expected 5 fields, saw 6\n'
/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/kassiewang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [4]:
cleancorona

           date Country.Region  Confirmed  Deaths  Recovered
9024 2020-01-22             US          1       0          0
9025 2020-01-23             US          1       0          0
9026 2020-01-24             US          2       0          0
9027 2020-01-25             US          2       0          0
9028 2020-01-26             US          5       0          0
...         ...            ...        ...     ...        ...
9110 2020-04-17             US     699706   36773      58545
9111 2020-04-18             US     732197   38664      64840
9112 2020-04-19             US     759086   40661      70337
9113 2020-04-20             US     784326   42094      72329
9114 2020-04-21             US     823786   44845      75204

[91 rows x 5 columns]